@import 'fonts&styles.scss';
body{
  overflow-y: hidden;
}
header{
  margin-bottom: 3vh;
}
main {
  display: flex;
  flex-direction: column;
   width: 60%;
    height: 70vh;
    margin: 0% auto 0% auto;
    background-color: rgba(57, 54, 54, 0.428);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.897);

    justify-content: center;
    h1 {
      text-align: center;
      margin: 0%;
      font-size: 2.1vw;
    }
   
  
    form {
      display: flex;
      flex-direction: column;

        div{
            margin: 1% ;
        }
  
      .form-group {
        display: flex;
        align-items: center;
      }
  
      label {
        flex: 2;
        font-weight: bold;
        font-size: 1.6vw;
      }
  
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      select {
        flex: 3;
        width: 60%;
        padding: 0.8vh;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      input[type="radio"]{
        margin-left: 23%;
      }
      textarea {
        width: 60%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
      }
  
      button[type="submit"] {
        border-radius: 10px;
       width: 40%;
       padding: 0;
       margin: 1% auto 1% auto;
        background-color: #509d53bb;
        color: #fff;
        border: none;
        font-size: 1.9vw;

  
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }

  @media (max-width: 450px) {
    main {
        width: 90%;
        height: 75vh;
        h1 {
          font-size: 5.5vw;
        }
      form{
        div{
            margin: 5% ;
        }
      label {
        font-weight: bold;
        font-size: 4vw;
      }
      input[type="radio"]{
        margin-left: 10%;
      }
      textarea {
        height: 90%;    
      }
  
      button[type="submit"] {
        border-radius: 15px;
       width: 60%;
       padding: 2%;
       margin: 2% auto 2% auto;
        font-size: 5vw;
      }
    }
    }
    footer{
      margin-top: 7%;
    }
  }