@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Titillium Web";
  src: url("fonts/Titillium Web/TitilliumWeb-Regular.ttf");
}
h1, p, h2, a {
  font-family: "Titillium Web", sans-serif;
}

body {
  overflow-y: hidden;
}

header {
  margin-bottom: 3vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70vh;
  margin: 0% auto 0% auto;
  background-color: rgba(57, 54, 54, 0.428);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.897);
  justify-content: center;
}
main h1 {
  text-align: center;
  margin: 0%;
  font-size: 2.1vw;
}
main form {
  display: flex;
  flex-direction: column;
}
main form div {
  margin: 1%;
}
main form .form-group {
  display: flex;
  align-items: center;
}
main form label {
  flex: 2;
  font-weight: bold;
  font-size: 1.6vw;
}
main form input[type=text],
main form input[type=tel],
main form input[type=email],
main form select {
  flex: 3;
  width: 60%;
  padding: 0.8vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main form input[type=radio] {
  margin-left: 23%;
}
main form textarea {
  width: 60%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
main form button[type=submit] {
  border-radius: 10px;
  width: 40%;
  padding: 0;
  margin: 1% auto 1% auto;
  background-color: rgba(80, 157, 83, 0.7333333333);
  color: #fff;
  border: none;
  font-size: 1.9vw;
}
main form button[type=submit]:hover {
  background-color: #45a049;
}

@media (max-width: 450px) {
  main {
    width: 90%;
    height: 75vh;
  }
  main h1 {
    font-size: 5.5vw;
  }
  main form div {
    margin: 5%;
  }
  main form label {
    font-weight: bold;
    font-size: 4vw;
  }
  main form input[type=radio] {
    margin-left: 10%;
  }
  main form textarea {
    height: 90%;
  }
  main form button[type=submit] {
    border-radius: 15px;
    width: 60%;
    padding: 2%;
    margin: 2% auto 2% auto;
    font-size: 5vw;
  }
  footer {
    margin-top: 7%;
  }
}